openapi: 3.0.3
info:
  title: XeoDocs API
  description: API for XeoDocs translation orchestration system. Handles project management, language tracking, and CLI synchronization.
  version: 1.0.0
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
  - url: https://api.xeodocs.com/v1
    description: Production Server

components:
  securitySchemes:
    cookieAuth:
      type: apiKey
      in: cookie
      name: session_id
    apiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key

  headers:
    X-RateLimit-Limit:
      schema:
        type: integer
      description: The number of allowed requests in the current period
    X-RateLimit-Remaining:
      schema:
        type: integer
      description: The number of remaining requests in the current period
    X-RateLimit-Reset:
      schema:
        type: integer
      description: The number of seconds left in the current period

  schemas:
    Pagination:
      type: object
      required:
        - page
        - limit
        - totalItems
        - totalPages
      properties:
        page:
          type: integer
          example: 1
        limit:
          type: integer
          example: 20
        totalItems:
          type: integer
          example: 100
        totalPages:
          type: integer
          example: 5

    ErrorDetail:
      type: object
      properties:
        field:
          type: string
          example: email
        message:
          type: string
          example: Invalid email format

    Error:
      type: object
      properties:
        code:
          type: integer
          example: 400
        message:
          type: string
          example: Invalid request parameters
        details:
          type: array
          items:
            $ref: '#/components/schemas/ErrorDetail'

    Project:
      type: object
      required:
        - id
        - name
        - slug
        - sourceRepoUrl
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          minLength: 2
          maxLength: 100
        slug:
          type: string
          pattern: '^[a-z0-9-]+$'
          minLength: 2
          maxLength: 100
        sourceWebsiteUrl:
          type: string
          format: uri
        sourceRepoUrl:
          type: string
          format: uri
        sourceBranch:
          type: string
          default: main
        description:
          type: string
          maxLength: 500
        isActive:
          type: boolean
          default: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    Language:
      type: object
      required:
        - id
        - projectId
        - code
        - name
      properties:
        id:
          type: string
          format: uuid
        projectId:
          type: string
          format: uuid
        code:
          type: string
          example: es
          minLength: 2
          maxLength: 10
        name:
          type: string
          example: Spanish
          minLength: 2
          maxLength: 50
        domain:
          type: string
          example: es.xeodocs.com
          format: hostname
        isActive:
          type: boolean
          default: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    FileStatus:
      type: string
      enum: [pending, translated, outdated, ignored]

    File:
      type: object
      required:
        - id
        - projectId
        - languageId
        - path
        - status
      properties:
        id:
          type: string
          format: uuid
        projectId:
          type: string
          format: uuid
        languageId:
          type: string
          format: uuid
        path:
          type: string
          maxLength: 1000
        checksumOriginal:
          type: string
          maxLength: 64
        checksumTranslated:
          type: string
          maxLength: 64
        status:
          $ref: '#/components/schemas/FileStatus'
        lastSyncedAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    User:
      type: object
      required:
        - id
        - name
        - email
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          minLength: 2
          maxLength: 100
        email:
          type: string
          format: email
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    UserDetail:
      allOf:
        - $ref: '#/components/schemas/User'
        - type: object
          properties:
            apiKey:
              type: string
              description: API Key for CLI access (sensitive)

    Configuration:
      type: object
      required:
        - key
        - value
      properties:
        key:
          type: string
          minLength: 1
          maxLength: 100
          pattern: '^[A-Z0-9_]+$'
        value:
          type: string
          maxLength: 5000

    UserPreference:
      type: object
      required:
        - userId
        - key
        - value
      properties:
        userId:
          type: string
          format: uuid
        key:
          type: string
          minLength: 1
          maxLength: 100
        value:
          type: string
          maxLength: 1000

    IgnoredPath:
      type: object
      required:
        - id
        - projectId
        - pattern
      properties:
        id:
          type: string
          format: uuid
        projectId:
          type: string
          format: uuid
        pattern:
          type: string
          minLength: 1
          maxLength: 500

    SpecialPath:
      type: object
      required:
        - id
        - projectId
        - purpose
        - pattern
      properties:
        id:
          type: string
          format: uuid
        projectId:
          type: string
          format: uuid
        purpose:
          type: string
          minLength: 1
          maxLength: 100
        pattern:
          type: string
          minLength: 1
          maxLength: 500

    LoginRequest:
      type: object
      required:
        - email
        - password
      properties:
        email:
          type: string
          format: email
        password:
          type: string

    LoginResponse:
      type: object
      required:
        - data
      properties:
        data:
          type: object
          properties:
            message:
              type: string
            user:
              $ref: '#/components/schemas/UserDetail'

    NextFileResponse:
      type: object
      required:
        - data
      properties:
        data:
          type: object
          properties:
            file:
              $ref: '#/components/schemas/File'
            prompt:
              type: string
              description: Contextual prompt to be used by the AI for translation

    SubmitResponse:
      type: object
      required:
        - data
      properties:
        data:
          type: object
          properties:
            updatedCount:
              type: integer

    SubmitRequest:
      type: object
      required:
        - fileIds
      properties:
        fileIds:
          type: array
          items:
            type: string
            format: uuid
        status:
          type: string
          enum: [translated]
          default: translated

tags:
  - name: Auth
    description: Authentication endpoints
  - name: Users
    description: User management
  - name: UserPreferences
    description: User preferences
  - name: Projects
    description: Project management
  - name: Languages
    description: Language management
  - name: Files
    description: File management per language
  - name: Configurations
    description: System-wide configurations
  - name: IgnoredPaths
    description: Project ignored paths
  - name: SpecialPaths
    description: Project special paths
  - name: Workflow
    description: CLI and Translation workflow endpoints

paths:
  /health:
    get:
      tags:
        - System
      summary: System health check
      operationId: healthCheck
      security: []
      responses:
        '200':
          description: System is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
                  version:
                    type: string
                    example: 1.0.0
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /auth/login:
    post:
      tags:
        - Auth
      summary: Admin Login
      operationId: login
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Successful login
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /auth/logout:
    post:
      tags:
        - Auth
      summary: Logout
      operationId: logout
      security:
        - cookieAuth: []
      responses:
        '200':
          description: Successful logout
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Logged out successfully
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /users:
    get:
      tags:
        - Users
      summary: List all users
      operationId: listUsers
      parameters:
        - in: query
          name: search
          schema:
            type: string
          description: Search by name or email
        - in: query
          name: page
          schema:
            type: integer
            default: 1
        - in: query
          name: limit
          schema:
            type: integer
            default: 20
        - in: query
          name: sortBy
          schema:
            type: string
          description: Field to sort by
        - in: query
          name: order
          schema:
            type: string
            enum: [asc, desc]
            default: asc
          description: Sort order
      security:
        - cookieAuth: []
        - apiKeyAuth: []
      responses:
        '200':
          description: List of users
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - pagination
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/User'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - Users
      summary: Create a new user
      operationId: createUser
      security:
        - cookieAuth: []
        - apiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - email
                - password
              properties:
                name:
                  type: string
                  minLength: 2
                  maxLength: 100
                email:
                  type: string
                  format: email
                password:
                  type: string
                  minLength: 8
      responses:
        '201':
          description: User created
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/UserDetail'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /users/me:
    get:
      tags:
        - Users
      summary: Get current user
      operationId: getCurrentUser
      security:
        - cookieAuth: []
        - apiKeyAuth: []
      responses:
        '200':
          description: Current user details
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/UserDetail'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /users/{userId}:
    get:
      tags:
        - Users
      summary: Get user by ID
      operationId: getUser
      parameters:
        - in: path
          name: userId
          schema:
            type: string
            format: uuid
          required: true
      security:
        - cookieAuth: []
        - apiKeyAuth: []
      responses:
        '200':
          description: User details
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/User'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      tags:
        - Users
      summary: Update user
      operationId: updateUser
      parameters:
        - in: path
          name: userId
          schema:
            type: string
            format: uuid
          required: true
      security:
        - cookieAuth: []
        - apiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                email:
                  type: string
                  format: email
                password:
                  type: string
      responses:
        '200':
          description: User updated
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/User'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - Users
      summary: Delete user
      operationId: deleteUser
      parameters:
        - in: path
          name: userId
          schema:
            type: string
            format: uuid
          required: true
      security:
        - cookieAuth: []
        - apiKeyAuth: []
      responses:
        '204':
          description: User deleted successfully
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /users/{userId}/preferences:
    get:
      tags:
        - UserPreferences
      summary: List user preferences
      operationId: listUserPreferences
      parameters:
        - in: path
          name: userId
          schema:
            type: string
            format: uuid
          required: true
        - in: query
          name: search
          schema:
            type: string
          description: Search by key
        - in: query
          name: page
          schema:
            type: integer
            default: 1
        - in: query
          name: limit
          schema:
            type: integer
            default: 20
        - in: query
          name: sortBy
          schema:
            type: string
          description: Field to sort by
        - in: query
          name: order
          schema:
            type: string
            enum: [asc, desc]
            default: asc
          description: Sort order
      security:
        - cookieAuth: []
        - apiKeyAuth: []
      responses:
        '200':
          description: List of preferences
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - pagination
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/UserPreference'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - UserPreferences
      summary: Set a user preference
      operationId: setUserPreference
      parameters:
        - in: path
          name: userId
          schema:
            type: string
            format: uuid
          required: true
      security:
        - cookieAuth: []
        - apiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - key
                - value
              properties:
                key:
                  type: string
                value:
                  type: string
      responses:
        '201':
          description: Preference set
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/UserPreference'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /users/{userId}/preferences/{key}:
    get:
      tags:
        - UserPreferences
      summary: Get user preference
      operationId: getUserPreference
      parameters:
        - in: path
          name: userId
          schema:
            type: string
            format: uuid
          required: true
        - in: path
          name: key
          schema:
            type: string
          required: true
      security:
        - cookieAuth: []
        - apiKeyAuth: []
      responses:
        '200':
          description: Preference details
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/UserPreference'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Preference not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - UserPreferences
      summary: Delete user preference
      operationId: deleteUserPreference
      parameters:
        - in: path
          name: userId
          schema:
            type: string
            format: uuid
          required: true
        - in: path
          name: key
          schema:
            type: string
          required: true
      security:
        - cookieAuth: []
        - apiKeyAuth: []
      responses:
        '204':
          description: Preference deleted
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Preference not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /configurations:
    get:
      tags:
        - Configurations
      summary: List system configurations
      operationId: listConfigurations
      parameters:
        - in: query
          name: search
          schema:
            type: string
          description: Search by key
        - in: query
          name: page
          schema:
            type: integer
            default: 1
        - in: query
          name: limit
          schema:
            type: integer
            default: 20
        - in: query
          name: sortBy
          schema:
            type: string
          description: Field to sort by
        - in: query
          name: order
          schema:
            type: string
            enum: [asc, desc]
            default: asc
          description: Sort order
      security:
        - cookieAuth: []
        - apiKeyAuth: []
      responses:
        '200':
          description: List of configurations
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - pagination
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Configuration'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - Configurations
      summary: Create a configuration
      operationId: createConfiguration
      security:
        - cookieAuth: []
        - apiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - key
                - value
              properties:
                key:
                  type: string
                value:
                  type: string
      responses:
        '201':
          description: Configuration created
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/Configuration'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /configurations/{key}:
    get:
      tags:
        - Configurations
      summary: Get configuration
      operationId: getConfiguration
      parameters:
        - in: path
          name: key
          schema:
            type: string
          required: true
      security:
        - cookieAuth: []
        - apiKeyAuth: []
      responses:
        '200':
          description: Configuration details
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/Configuration'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Configuration not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      tags:
        - Configurations
      summary: Update configuration
      operationId: updateConfiguration
      parameters:
        - in: path
          name: key
          schema:
            type: string
          required: true
      security:
        - cookieAuth: []
        - apiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - value
              properties:
                value:
                  type: string
      responses:
        '200':
          description: Configuration updated
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/Configuration'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Configuration not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - Configurations
      summary: Delete configuration
      operationId: deleteConfiguration
      parameters:
        - in: path
          name: key
          schema:
            type: string
          required: true
      security:
        - cookieAuth: []
        - apiKeyAuth: []
      responses:
        '204':
          description: Configuration deleted
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Configuration not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /projects:
    get:
      tags:
        - Projects
      summary: List all projects
      operationId: listProjects
      parameters:
        - in: query
          name: search
          schema:
            type: string
          description: Search by name or slug
        - in: query
          name: isActive
          schema:
            type: boolean
          description: Filter by active status
        - in: query
          name: page
          schema:
            type: integer
            default: 1
        - in: query
          name: limit
          schema:
            type: integer
            default: 20
        - in: query
          name: sortBy
          schema:
            type: string
          description: Field to sort by
        - in: query
          name: order
          schema:
            type: string
            enum: [asc, desc]
            default: asc
          description: Sort order
      security:
        - cookieAuth: []
        - apiKeyAuth: []
      responses:
        '200':
          description: List of projects
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - pagination
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Project'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - Projects
      summary: Create a new project
      operationId: createProject
      security:
        - cookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - slug
                - sourceRepoUrl
              properties:
                name:
                  type: string
                slug:
                  type: string
                sourceWebsiteUrl:
                  type: string
                sourceRepoUrl:
                  type: string
                sourceBranch:
                  type: string
                description:
                  type: string
      responses:
        '201':
          description: Project created
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/Project'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /projects/{projectId}:
    get:
      tags:
        - Projects
      summary: Get a project by ID
      operationId: getProject
      parameters:
        - in: path
          name: projectId
          schema:
            type: string
            format: uuid
          required: true
        - in: query
          name: expand
          schema:
            type: array
            items:
              type: string
              enum: [languages]
          description: Expand related resources
      security:
        - cookieAuth: []
        - apiKeyAuth: []
      responses:
        '200':
          description: Project details
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/Project'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Project not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      tags:
        - Projects
      summary: Update a project
      operationId: updateProject
      parameters:
        - in: path
          name: projectId
          schema:
            type: string
            format: uuid
          required: true
      security:
        - cookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                slug:
                  type: string
                sourceWebsiteUrl:
                  type: string
                sourceRepoUrl:
                  type: string
                sourceBranch:
                  type: string
                description:
                  type: string
                isActive:
                  type: boolean
      responses:
        '200':
          description: Project updated
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/Project'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Project not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - Projects
      summary: Delete a project
      operationId: deleteProject
      parameters:
        - in: path
          name: projectId
          schema:
            type: string
            format: uuid
          required: true
      security:
        - cookieAuth: []
      responses:
        '204':
          description: Project deleted successfully
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Project not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /projects/{projectId}/languages:
    get:
      tags:
        - Languages
      summary: List languages for a project
      operationId: listProjectLanguages
      parameters:
        - in: path
          name: projectId
          schema:
            type: string
            format: uuid
          required: true
        - in: query
          name: search
          schema:
            type: string
          description: Search by name or code
        - in: query
          name: isActive
          schema:
            type: boolean
          description: Filter by active status
        - in: query
          name: page
          schema:
            type: integer
            default: 1
        - in: query
          name: limit
          schema:
            type: integer
            default: 20
        - in: query
          name: sortBy
          schema:
            type: string
          description: Field to sort by
        - in: query
          name: order
          schema:
            type: string
            enum: [asc, desc]
            default: asc
          description: Sort order
      security:
        - cookieAuth: []
        - apiKeyAuth: []
      responses:
        '200':
          description: List of languages
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - pagination
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Language'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Project not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - Languages
      summary: Add a language to a project
      operationId: addProjectLanguage
      parameters:
        - in: path
          name: projectId
          schema:
            type: string
            format: uuid
          required: true
      security:
        - cookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - code
                - name
              properties:
                code:
                  type: string
                name:
                  type: string
                domain:
                  type: string
      responses:
        '201':
          description: Language added
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/Language'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /projects/{projectId}/languages/{languageId}:
    get:
      tags:
        - Languages
      summary: Get a language by ID
      operationId: getProjectLanguage
      parameters:
        - in: path
          name: projectId
          schema:
            type: string
            format: uuid
          required: true
        - in: path
          name: languageId
          schema:
            type: string
            format: uuid
          required: true
      security:
        - cookieAuth: []
        - apiKeyAuth: []
      responses:
        '200':
          description: Language details
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/Language'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Language not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      tags:
        - Languages
      summary: Update a language
      operationId: updateProjectLanguage
      parameters:
        - in: path
          name: projectId
          schema:
            type: string
            format: uuid
          required: true
        - in: path
          name: languageId
          schema:
            type: string
            format: uuid
          required: true
      security:
        - cookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                code:
                  type: string
                name:
                  type: string
                domain:
                  type: string
                isActive:
                  type: boolean
      responses:
        '200':
          description: Language updated
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/Language'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Language not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - Languages
      summary: Remove a language from project
      operationId: removeProjectLanguage
      parameters:
        - in: path
          name: projectId
          schema:
            type: string
            format: uuid
          required: true
        - in: path
          name: languageId
          schema:
            type: string
            format: uuid
          required: true
      security:
        - cookieAuth: []
      responses:
        '204':
          description: Language removed successfully
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Language not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /projects/{projectId}/ignored-paths:
    get:
      tags:
        - IgnoredPaths
      summary: List ignored paths for a project
      operationId: listProjectIgnoredPaths
      parameters:
        - in: path
          name: projectId
          schema:
            type: string
            format: uuid
          required: true
        - in: query
          name: search
          schema:
            type: string
          description: Search by pattern
        - in: query
          name: page
          schema:
            type: integer
            default: 1
        - in: query
          name: limit
          schema:
            type: integer
            default: 20
        - in: query
          name: sortBy
          schema:
            type: string
          description: Field to sort by
        - in: query
          name: order
          schema:
            type: string
            enum: [asc, desc]
            default: asc
          description: Sort order
      security:
        - cookieAuth: []
        - apiKeyAuth: []
      responses:
        '200':
          description: List of ignored paths
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - pagination
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/IgnoredPath'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Project not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - IgnoredPaths
      summary: Add an ignored path to a project
      operationId: addProjectIgnoredPath
      parameters:
        - in: path
          name: projectId
          schema:
            type: string
            format: uuid
          required: true
      security:
        - cookieAuth: []
        - apiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - pattern
              properties:
                pattern:
                  type: string
      responses:
        '201':
          description: Ignored path added
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/IgnoredPath'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /projects/{projectId}/ignored-paths/{ignoredPathId}:
    get:
      tags:
        - IgnoredPaths
      summary: Get an ignored path
      operationId: getProjectIgnoredPath
      parameters:
        - in: path
          name: projectId
          schema:
            type: string
            format: uuid
          required: true
        - in: path
          name: ignoredPathId
          schema:
            type: string
            format: uuid
          required: true
      security:
        - cookieAuth: []
        - apiKeyAuth: []
      responses:
        '200':
          description: Ignored path details
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/IgnoredPath'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Ignored path not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      tags:
        - IgnoredPaths
      summary: Update an ignored path
      operationId: updateProjectIgnoredPath
      parameters:
        - in: path
          name: projectId
          schema:
            type: string
            format: uuid
          required: true
        - in: path
          name: ignoredPathId
          schema:
            type: string
            format: uuid
          required: true
      security:
        - cookieAuth: []
        - apiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                pattern:
                  type: string
      responses:
        '200':
          description: Ignored path updated
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/IgnoredPath'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Ignored path not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - IgnoredPaths
      summary: Remove an ignored path
      operationId: removeProjectIgnoredPath
      parameters:
        - in: path
          name: projectId
          schema:
            type: string
            format: uuid
          required: true
        - in: path
          name: ignoredPathId
          schema:
            type: string
            format: uuid
          required: true
      security:
        - cookieAuth: []
        - apiKeyAuth: []
      responses:
        '204':
          description: Ignored path removed
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Ignored path not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /projects/{projectId}/special-paths:
    get:
      tags:
        - SpecialPaths
      summary: List special paths for a project
      operationId: listProjectSpecialPaths
      parameters:
        - in: path
          name: projectId
          schema:
            type: string
            format: uuid
          required: true
        - in: query
          name: search
          schema:
            type: string
          description: Search by purpose or pattern
        - in: query
          name: page
          schema:
            type: integer
            default: 1
        - in: query
          name: limit
          schema:
            type: integer
            default: 20
        - in: query
          name: sortBy
          schema:
            type: string
          description: Field to sort by
        - in: query
          name: order
          schema:
            type: string
            enum: [asc, desc]
            default: asc
          description: Sort order
      security:
        - cookieAuth: []
        - apiKeyAuth: []
      responses:
        '200':
          description: List of special paths
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - pagination
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/SpecialPath'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Project not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - SpecialPaths
      summary: Add a special path to a project
      operationId: addProjectSpecialPath
      parameters:
        - in: path
          name: projectId
          schema:
            type: string
            format: uuid
          required: true
      security:
        - cookieAuth: []
        - apiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - purpose
                - pattern
              properties:
                purpose:
                  type: string
                pattern:
                  type: string
      responses:
        '201':
          description: Special path added
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/SpecialPath'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /projects/{projectId}/special-paths/{specialPathId}:
    get:
      tags:
        - SpecialPaths
      summary: Get a special path
      operationId: getProjectSpecialPath
      parameters:
        - in: path
          name: projectId
          schema:
            type: string
            format: uuid
          required: true
        - in: path
          name: specialPathId
          schema:
            type: string
            format: uuid
          required: true
      security:
        - cookieAuth: []
        - apiKeyAuth: []
      responses:
        '200':
          description: Special path details
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/SpecialPath'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Special path not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      tags:
        - SpecialPaths
      summary: Update a special path
      operationId: updateProjectSpecialPath
      parameters:
        - in: path
          name: projectId
          schema:
            type: string
            format: uuid
          required: true
        - in: path
          name: specialPathId
          schema:
            type: string
            format: uuid
          required: true
      security:
        - cookieAuth: []
        - apiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                purpose:
                  type: string
                pattern:
                  type: string
      responses:
        '200':
          description: Special path updated
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/SpecialPath'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Special path not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - SpecialPaths
      summary: Remove a special path
      operationId: removeProjectSpecialPath
      parameters:
        - in: path
          name: projectId
          schema:
            type: string
            format: uuid
          required: true
        - in: path
          name: specialPathId
          schema:
            type: string
            format: uuid
          required: true
      security:
        - cookieAuth: []
        - apiKeyAuth: []
      responses:
        '204':
          description: Special path removed
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Special path not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /projects/{projectId}/languages/{languageId}/files:
    get:
      tags:
        - Files
      summary: List files for a project language
      operationId: listProjectLanguageFiles
      parameters:
        - in: path
          name: projectId
          schema:
            type: string
            format: uuid
          required: true
        - in: path
          name: languageId
          schema:
            type: string
            format: uuid
          required: true
        - in: query
          name: search
          schema:
            type: string
          description: Search by path
        - in: query
          name: status
          schema:
            $ref: '#/components/schemas/FileStatus'
          description: Filter by status
        - in: query
          name: page
          schema:
            type: integer
            default: 1
        - in: query
          name: limit
          schema:
            type: integer
            default: 20
        - in: query
          name: sortBy
          schema:
            type: string
          description: Field to sort by
        - in: query
          name: order
          schema:
            type: string
            enum: [asc, desc]
            default: asc
          description: Sort order
      security:
        - cookieAuth: []
        - apiKeyAuth: []
      responses:
        '200':
          description: List of files
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - pagination
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/File'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Project or Language not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - Files
      summary: Create/Register a file for a language
      operationId: createProjectLanguageFile
      parameters:
        - in: path
          name: projectId
          schema:
            type: string
            format: uuid
          required: true
        - in: path
          name: languageId
          schema:
            type: string
            format: uuid
          required: true
      security:
        - cookieAuth: []
        - apiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - path
              properties:
                path:
                  type: string
                status:
                  $ref: '#/components/schemas/FileStatus'
                  default: pending
      responses:
        '201':
          description: File created
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/File'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /projects/{projectId}/languages/{languageId}/files/{fileId}:
    get:
      tags:
        - Files
      summary: Get a file
      operationId: getProjectLanguageFile
      parameters:
        - in: path
          name: projectId
          schema:
            type: string
            format: uuid
          required: true
        - in: path
          name: languageId
          schema:
            type: string
            format: uuid
          required: true
        - in: path
          name: fileId
          schema:
            type: string
            format: uuid
          required: true
      security:
        - cookieAuth: []
        - apiKeyAuth: []
      responses:
        '200':
          description: File details
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/File'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: File not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      tags:
        - Files
      summary: Update a file
      operationId: updateProjectLanguageFile
      parameters:
        - in: path
          name: projectId
          schema:
            type: string
            format: uuid
          required: true
        - in: path
          name: languageId
          schema:
            type: string
            format: uuid
          required: true
        - in: path
          name: fileId
          schema:
            type: string
            format: uuid
          required: true
      security:
        - cookieAuth: []
        - apiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                path:
                  type: string
                status:
                  $ref: '#/components/schemas/FileStatus'
      responses:
        '200':
          description: File updated
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/File'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: File not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - Files
      summary: Delete a file
      operationId: deleteProjectLanguageFile
      parameters:
        - in: path
          name: projectId
          schema:
            type: string
            format: uuid
          required: true
        - in: path
          name: languageId
          schema:
            type: string
            format: uuid
          required: true
        - in: path
          name: fileId
          schema:
            type: string
            format: uuid
          required: true
      security:
        - cookieAuth: []
        - apiKeyAuth: []
      responses:
        '204':
          description: File deleted
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: File not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /projects/{projectId}/languages/{languageId}/next-file:
    get:
      tags:
        - Workflow
      summary: Get the next file to translate (CLI)
      operationId: getProjectLanguageNextFile
      description: Returns the highest priority pending/outdated file for the authenticated context (project/lang).
      parameters:
        - in: path
          name: projectId
          schema:
            type: string
            format: uuid
          required: true
        - in: path
          name: languageId
          schema:
            type: string
            format: uuid
          required: true
      security:
        - apiKeyAuth: []
      responses:
        '200':
          description: File details and AI prompt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NextFileResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No files pending translation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /projects/{projectId}/languages/{languageId}/submissions:
    post:
      tags:
        - Workflow
      summary: Submit translated files (CLI)
      operationId: submitProjectLanguageFiles
      description: Marks files as translated after CLI submission.
      parameters:
        - in: path
          name: projectId
          schema:
            type: string
            format: uuid
          required: true
        - in: path
          name: languageId
          schema:
            type: string
            format: uuid
          required: true
      security:
        - apiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubmitRequest'
      responses:
        '200':
          description: Submission accepted, file statuses updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubmitResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /projects/{projectId}/languages/{languageId}/status:
    get:
      tags:
        - Workflow
      summary: Get project translation status (CLI)
      operationId: getProjectLanguageStatus
      parameters:
        - in: path
          name: projectId
          schema:
            type: string
            format: uuid
          required: true
        - in: path
          name: languageId
          schema:
            type: string
            format: uuid
          required: true
      security:
        - apiKeyAuth: []
      responses:
        '200':
          description: Status summary
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: object
                    properties:
                      pendingCount:
                        type: integer
                      outdatedCount:
                        type: integer
                      totalFiles:
                        type: integer
                      progressPercentage:
                        type: number
                        format: float
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
