openapi: 3.1.0
info:
  title: ExampleApp Unified API
  version: 1.0.0
  description: Master API definition for ExampleApp (Identity, Todos, Notes, Library)
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0
servers:
  - url: https://api.xeocontext.com
paths:
  # Identity
  /v1/auth/login:
    $ref: '../../domains/identity/components/paths/auth_login.yaml'
  /v1/auth/register:
    $ref: '../../domains/identity/components/paths/auth_register.yaml'
    

components:
  schemas:
    # Aggregated Schemas (Optional, but good for Client SDKs)
    User:
      $ref: '../../domains/identity/components/schemas/User.yaml'
